
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

.tipo{
    
    height: 200px;
    width: 104%;
}

.fondo{
	 background: #1c2a48;
}

.fondos{
	 background: #00695c;
}

.colorregistro{
	  background: #fff9c4;
	  border-radius: 20px;
}
.contacto{
	  background: rgba(84, 104, 110, 0.4);
	border-radius: 20px;
}

.fototarjeta{
    
  border-radius: 15px;  
    
} 

.f{
     border-radius: 15px; 
    width: 95%;
   
}

.ready-btn {
  border: 1px solid #fff;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  margin-top: 4px;
  padding: 10px 10px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
  z-index: 222;
}

.ready-btn:hover {
  color: #fff;
  background: #3EC1D5;
  border: 1px solid #3EC1D5;
  text-decoration: none;
}


.single-blog .author-avatar {
  float: left;
  margin-right: 10px;
}
.separar{
    padding: 2%;
}


.color{
    background: #2e3951;
}

.color1{
    background: #1c2331;
}

.parallax{
    
    background: url('https://i.avoz.es/default/2018/07/05/00121530813722873347542/Foto/OL6C2F1_1.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}


.institucion{
    
    background: url('https://img.soy-chile.cl/Fotos/2016/08/17/file_20160817173340.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

.galeria{
    background:#f2f2f2;
    border-radius: 15px;
    margin-bottom: 20px;
    
}

.jumbotron{

    background-image: url("../img/fila.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;

}

.imagen{
margin-top: 10px;
height: 30vh;
width: auto;
cursor: zoom-in;
border-radius: 5px;
}

.dis{
   padding: 2%;


}

